.make {
   display: flex;
justify-content: space-evenly;
align-items: center;
width:  100%;
flex-direction: row;
height: auto;
background-color: #FF0080;
/* gap: 30px */
}
input, textarea {
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400;
}
input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #D500F9 !important;
    outline-width: 0;
    font-weight: 400;
}

.logotipoImg {
  width: 90px;
  height: auto;
}
.container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.container2{
    background-color:  #ffb1d8;
    color: black;
    margin-top: 20px;
}
